.wrapper {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
  position: relative; }

.menu-opcional {
  display: none; }

.iconos img {
  max-width: 100%;
  height: 3.47%;
  width: 10.41%;
  margin-left: 6%;
  margin-top: 2%; }

.main-image img {
  width: 100%;
  max-width: 100%; }

.menu {
  width: 100%; }

.imagenes {
  width: 100%; }

footer {
  width: 100%; }

.second-footer {
  width: 100%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.background-header {
  background-color: #010416; }

.main-menu {
  color: white;
  text-transform: bold;
  text-decoration: none;
  list-style: none; }

.main-menu li {
  float: right;
  margin-right: 15px;
  font-size: 18px; }

.menu-list {
  position: absolute;
  top: 25px;
  right: 0;
  margin-right: 40px; }

.imagenes h2 {
  text-align: center; }

#grupo-img {
  padding-left: 120px;
  position: relative; }

.img-1 {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 280px;
  right: 940px;
  padding: 10px 51px 10px 51px; }

.img-2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 280px;
  right: 530px;
  padding: 10px 51px 10px 51px; }

.img-3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 285px;
  right: 130px;
  padding: 10px 51px 10px 51px; }

.img-4 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 22px;
  right: 940px;
  padding: 10px 51px 10px 51px; }

.img-5 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 10px;
  right: 530px;
  padding: 10px 51px 10px 51px; }

.img-6 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 22px;
  right: 130px;
  padding: 10px 51px 10px 51px; }

.footer-content h2 {
  font-size: 30px; }

.footer-content {
  color: white;
  font-style: bold;
  float: right;
  width: 548px;
  margin-top: 139px;
  padding-bottom: 100px;
  padding-right: 150px; }

.iconos-footer {
  float: left; }

.second-footer {
  background-color: black; }

.footer-list li {
  list-style: none;
  color: white;
  float: right;
  margin-right: 5%;
  text-transform: bold;
  font-size: 18px; }

.footer-list {
  padding-right: 30%; }

.footer-list ul {
  margin: 0;
  padding: 0; }

.footer-list li {
  padding-top: 2.08%; }

.img-footer {
  text-align: center;
  padding: 2.08%; }

.second-footer {
  text-align: center;
  color: white; }

.parrafo-footer {
  padding-bottom: 2.08%; }

.footer {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.iconos-footer {
  padding-top: 18.05%;
  padding-left: 20.83%; }

.second-footer {
  padding-top: -20px; }

@media (max-width: 1023px) {
  .background-header {
    position: relative; }
  .menu-opcional {
    display: block;
    color: white;
    position: absolute;
    top: 18px;
    right: 60px; }
  .menu-list {
    display: none; }
  .conjunto1 img {
    max-height: 100%;
    width: 28%;
    max-width: 100%;
    float: none;
    padding: 2%; }
  .title {
    padding-left: 50px; }
  .conjunto2 img {
    max-height: 100%;
    width: 28%;
    max-width: 100%;
    float: none;
    padding: 2%; }
  .iconos-footer {
    padding: 50px;
    float: none;
    text-align: center; }
  .footer-content {
    float: none;
    margin: 0;
    padding-bottom: 50px;
    padding-left: 200px; }
  .footer-content h2 {
    margin: 0;
    text-align: center;
    padding: 0;
    padding-bottom: 20px; }
  .footer-content p {
    margin: 0;
    text-align: center;
    padding: 0; }
  .footer-list {
    padding-right: 270px; }
  .img-1 {
    bottom: 560px;
    right: 470px; }
  .img-2 {
    bottom: 550px;
    right: 60px; }
  .img-3 {
    bottom: 289px;
    right: 460px; }
  .img-4 {
    bottom: 300px;
    right: 60px; }
  .img-5 {
    bottom: 8px;
    right: 462px; }
  .img-6 {
    bottom: 7px;
    right: 58px; }
  #grupo-img {
    padding-left: 100px; } }

@media (max-width: 767px) {
  .footer-list {
    margin: 0;
    padding-right: 25px; }
  .footer-content {
    margin-bottom: 20px;
    width: 448px;
    float: none;
    padding: 18px;
    margin-left: 15px; }
  #grupo-img {
    padding-left: 75px; }
  .iconos-footer {
    padding-top: 30px;
    text-align: center;
    float: none; }
  .img-1 {
    bottom: 1380px;
    right: 65px; }
  .img-2 {
    bottom: 1088px;
    right: 58px; }
  .img-3 {
    bottom: 830px;
    right: 60px; }
  .img-4 {
    bottom: 550px;
    right: 65px; }
  .img-5 {
    bottom: 280px;
    right: 60px; }
  .img-6 {
    bottom: 10px;
    right: 60px; } }
