
.footer-content h2{
    font-size: 30px;
}
.footer-content{
    color: white;
    font-style: bold;
    float: right;
    width: 548px;
    margin-top: 139px;
    padding-bottom: 100px;
    padding-right: 150px;
}

.iconos-footer{
    float: left;
}


.second-footer{
    background-color: black;
}

.footer-list li{
    list-style: none;
    color: white;
    float: right;
    margin-right: 5%;
    text-transform: bold;
    font-size: 18px;
}

.footer-list{
    padding-right: 30%;
}
.footer-list ul{
    margin: 0;
    padding: 0;
}
.footer-list li{
    padding-top: 2.08%;
}

.img-footer{
    text-align: center;
    padding: 2.08%;
}

.second-footer {
    text-align: center;
    color: white;
}

.parrafo-footer{
    padding-bottom: 2.08%;
}
.footer{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.iconos-footer{
    padding-top: 18.05%;
    padding-left: 20.83%;
}


.second-footer{
    padding-top: -20px;
}