
.imagenes h2{
    text-align: center;
}

#grupo-img{
    padding-left: 120px; 
    position: relative;
}

.img-1{background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 280px;
    right: 940px;
    padding: 10px 51px 10px 51px;
} 

.img-2{background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 280px;
    right: 530px;
    padding: 10px 51px 10px 51px;
} 

.img-3{background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 285px;
    right: 130px;
    padding: 10px 51px 10px 51px;
} 


.img-4{background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 22px;
    right: 940px;
    padding: 10px 51px 10px 51px;
} 

.img-5{background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 10px;
    right: 530px;
    padding: 10px 51px 10px 51px;
} 

.img-6{background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 35px;
    position: absolute;
    bottom: 22px;
    right: 130px;
    padding: 10px 51px 10px 51px;
} 