@media(max-width:767px){
    .footer-list{
        margin: 0;
        padding-right: 25px;
    }

    .footer-content{
        margin-bottom: 20px;
        width: 448px;
        float: none;
        padding: 18px;
        margin-left: 15px;
    }
    #grupo-img {
        padding-left: 75px;
    }

    .iconos-footer{
        padding-top: 30px;
        text-align: center;
        float: none;
    }

    .img-1{
        bottom: 1380px;
        right: 65px;
    }

    .img-2{
        bottom: 1088px;
        right: 58px;
    }

    .img-3{
        bottom: 830px;
        right: 60px;
    }

    .img-4{
        bottom: 550px;
        right: 65px;
    }

    .img-5{
        bottom: 280px;
        right: 60px;
    }

    .img-6{
        bottom: 10px;
        right: 60px;
    }
}