@media(max-width:767px){
    .footer-list{
        margin: 0;
        margin-right: 25px;
    }

    .footer-content{
        margin-right: 25px;
    }

    .iconos-footer{
        margin-left: 175px;
    }
}