@media(max-width: 1023px){
    .background-header{
        position: relative;
    }
    .menu-opcional{
        display: block;
        color: white;
        position: absolute;
        top: 18px;
        right: 60px;
    }
    .menu-list{
        display: none;
    }

    .conjunto1 img {
        max-height: 100%;
        width: 28%;
        max-width: 100%;
        float: none;
        padding: 2%;
    }
    
    .title{
        padding-left: 50px;
    }
    .conjunto2 img {
        max-height: 100%;
        width: 28%;
        max-width: 100%;
        float: none;
        padding: 2%;
    }

    .iconos-footer{
        padding: 50px;
        float: none;
        text-align: center;
    }

    .footer-content{
        float: none;
        margin: 0;
        padding-bottom: 50px;
        padding-left: 200px;
    }

    .footer-content h2{
        margin: 0;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
    .footer-content p {
        margin: 0;
        text-align: center;
        padding: 0;
    }


    .footer-list {
        padding-right: 270px;
    }

    .img-1{
        bottom: 560px;
        right: 470px;
    }

    .img-2{
        bottom: 550px;
        right: 60px;
    }

    .img-3{
        bottom: 289px;
        right: 460px;
    }

    .img-4{
        bottom: 300px;
        right: 60px;
    }

    .img-5{
        bottom: 8px;
        right: 462px;
    }

    .img-6{
        bottom: 7px;
        right: 58px;
    }
}


